.App {
  text-align: center;
}
body {
  background-color: #f0f0f0 !important;
  overflow-x: hidden;
}
#root {
  background-color: #f0f0f0 !important;
  width: 100vw;
  height: 100vh;
}
.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4d4d4d;
}

.form-div {
  height: 50px;
  padding: 0;
}
#search-glass {
  border: none;
  border-radius: 5px;
  height: 50px;
  background: #fff;
}
#search-glass svg {
  height: 20px;
  width: 20px;
  color: #4d4d4d;
}
#search-glass:hover {
  cursor: pointer;
}
#search-box {
  border: none;
  font-size: 15px;
  height: 50px;
  width: 40vw;
}
button {
  height: 30px;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
}
.container {
  margin-top: 20px;
  width: 100%;
  margin: 30px auto;
}
.photo-entry {
  position: relative;
  margin-bottom: 10px;
}
.photo {
  border-radius: 7px;
}
.photo:hover {
  cursor: pointer;
}
.user {
  position: absolute;
  border-radius: 50%;
  bottom: 9px;
  left: 39%;
}
.profile-photo {
  border-radius: 50%;
  border: 2px #fff solid;
  display: inline-block;
  vertical-align: middle;
}
.username {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-weight: bold;
}
.download {
  position: absolute;
  bottom: 30px;
  right: 40%;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  height: 3px;
  width: 3px;
}
.heart {
  height: 1%;
  width: 1%;
  fill: red;
}
.likes {
  position: absolute;
  top: 5px;
  left: 18%;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

@media only screen and (max-width: 1280px) {
  .likes {
    left: 25%;
  }
  .user {
    left: 35%;
  }
  .download {
    right: 37%;
  }
}
